<ion-header>
  <ion-toolbar color="primary">
    <ion-title  style='text-align:center'>Sobre nós</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-text color="primary" style='text-align:center'>
        <h1>Propósito:</h1>
    </ion-text>

    <p style='text-align:center'>
        Nos dias atuais, o texto jornalístico é provavelmente o gênero textual mais lido, pois possui o maior alcance nos diversos setores da sociedade. Diante disso, nós desenvolvemos um aplicativo mobile voltado a ampliar o alcançe de textos jornalístico, facilitando o acesso para leitores e facilitando o compartilhamento dos textos para os escritores.
    </p>

    <ion-text color="primary" style='text-align:center'>
        <h1>Integrantes:</h1>
    </ion-text>

  <img src="assets/equipe.png"/>
</ion-content>
